<!-- views/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  
  
  <h2>Your Cart</h2>
  <ul>
    <% cart.products.forEach(product => { %>
      <li><%= product.urun_adi %> - $<%= product.price %></li>
    <% }); %>
  </ul>
  <h1>Sepet Tutarı :<%-total  %></h1>
  <a href="/add-to-cart/your-product-id">Add Product to Cart</a>
</body>
</html> 